# See Clang docs: http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: WebKit

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBinaryOperators: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeElse: true
ColumnLimit: 120
NamespaceIndentation: None
PointerAlignment: Right
SpaceAfterCStyleCast: true
StatementMacros: [
  'nanoem_pragma_diagnostics_push',
  'nanoem_pragma_diagnostics_ignore_clang_gcc',
  'nanoem_pragma_diagnostics_ignore_msvc',
  'nanoem_pragma_diagnostics_pop'
]
