[package]
name = "plugin_wasm"
version = "0.1.0"
authors = ["hkrn <129939+hkrn@users.noreply.github.com>"]
edition = "2018"
license = "MPL-2.0"

[dependencies]
anyhow = "1"
tracing = "0.1"
tracing-subscriber = "0.3"
wasmer = "2"
wasmer-wasi = "2"
walkdir = "2"

[dev-dependencies]
serde = "1"
serde_derive = "1"
serde_json = "1"
maplit = "1"
rand = "0.8"
pretty_assertions = "1.2"

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]
